.mypy_cache/
pyrightconfig.json
ryan_functions.egg-info
build/
%LOCALAPPDATA%

# Ignore everything in the dist folder
dist/*

# Allow only files directly under dist
!dist/*.*

# Exclude folders and their contents under dist
dist/*/