.mypy_cache/
pyrightconfig.json
ryan_functions.egg-info

build/
%LOCALAPPDATA%

# Local virtual environments
.venv/

# Ignore everything in the dist folder
dist/*

# Allow only files directly under dist
!dist/*.*

# Exclude folders and their contents under dist
dist/*/
# Exclude pytest cache directory
.pytest_cache
pytest-cache-files-*
*.pyc

# Ignore all .xlsx files in the tests/test_data folder and its subfolders, such as from testing runs
tests/test_data/tuflow/tutorials/**/*.xlsx
tests/test_data/**/*.xlsx
tests/test_data/**/*.py

# Others
*/Thumbs.db
*/~$*.xlsx
tests/test_data/tuflow/Thumbs.db
test_output.txt


.coverage
