[submodule "PyHMA"]
	path = PyHMA
	url = https://github.com/icobro/PyHMA.git
[submodule "unsorted"]
	path = unsorted
	url = https://github.com/Chain-Frost/ryan-tools-unsorted.git
[submodule "vendor/run_hy8"]
	path = vendor/run_hy8
	url = https://github.com/Chain-Frost/run-hy8.git
