numpy
pandas
pandas-stubs
pyshp
geopandas
fiona
pyarrow
fastparquet
matplotlib
colorama
rich
XlsxWriter
psutil
black
pyright
laspy
tqdm
rasterio
seaborn
requests
openpyxl
loguru
ezdxf
pypdf
cryptography>=3.1
