# Windows thumbnail cache
Thumbs.db

# Exclude specific directories
terrain/
model/DEM/
model/terrain/
results/
runs/log/
check/
checks/
working/
empty/

# Exclude any directory named "xf" at any level
**/xf/

# Exclude all .xf4 files
*.xf4

*.xlsx
*.tif
!model/gis/*.tif

*.CSV.bak
fort.902
**/ss/
*.bak